#container {
    text-align: center;
    // position: absolute;
    // left: 0;
    // right: 0;
    // top: 50%;
    // transform: translateY(-50%);
    min-height: 100%;
  }
#body{
  min-width: 100%;
}
#h6{
  font-size: 14px;
  color: #8f8f8f;
  margin: 5px 0;
}
#sticky-footer{
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #c0392b;
}
#sticky-footer p{
  color: white;
}