<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      MoneyManager
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Manage Your Wallet</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <!-- <strong>Ready to create an app?</strong>
    <p>Start with Ionic <a target="_blank" rel="noopener noreferrer" href="https://ionicframework.com/docs/components">UI Components</a></p> -->
    
    <ion-button routerLink="/expense" expand="block" size="large" color="success">Create New Expense</ion-button>
    <br>
    <ion-button routerLink="/date" expand="block" size="large" color="danger">Monthly Expenditure</ion-button>
    <br>
    <ion-button routerLink="" expand="block" size="large">Budget</ion-button>
  </div>
</ion-content>
